.blackHeart{
    width: 20px;
}
ul{
    list-style-type:none;
    display: flex;
    justify-content: flex-end;
    gap: 20px;   
}
a{
    text-decoration: none;
    color: black;
}
.nav-2{
    display: flex;
}
.npmimg1 {
    width: 50px;
}
.img2{
    width: 20px;
}
.search{
    width: 1200px;
}
.search-button{
    border: none;
    border: 2px solid red;
    background-color: red;
    color: white;
}
.join , .login{
    border: 2px solid black;
    background-color: white;
}
.big-text{
    text-align: center;
    font-size: 100px;
}
.peragraph-1{
    text-align: center;
    font-size: 25px;
}
.Bottum-Button{
   display: flex;
   justify-content: center;
   padding: 20px;

}
.see-plan{
    text-align: center;
    border: 2px solid red;
    background-color: red;
    color: white;
    padding: 20px;
    margin: 10px;
   
}
.JFF{
    padding: 20px;
    margin: 10px;
    
}
.section2{
    display: flex;
    justify-content: center;
}
.bigText2{
    font-size: 30px;
    text-align: center;
    border: 2px solid white;
    /* border-width: 200px; */
    background-color: rgb(235, 235, 120);
}
.paragrph2{
    text-align: center;
}
.fotter{
    display: flex;
    justify-content: space-between;
}
.small-logo{
    width: 30px;
}
.text{
    color: red;
    font-weight: bold;
}
.org-btn{
    border: 2px solid black;
    color: white;
    padding: 5px;
    background-color: black;
    margin: 50px;

}
.last-btn{
    display: flex;
    justify-content: center;

}